<p id="notice"><%= notice %></p>

<p>
  <strong>N corethree tier:</strong>
  <%= @fnss_datacenter_three_tier.n_corethree_tier %>
</p>

<p>
  <strong>N aggregationthree tier:</strong>
  <%= @fnss_datacenter_three_tier.n_aggregationthree_tier %>
</p>

<p>
  <strong>N edgesthree tier:</strong>
  <%= @fnss_datacenter_three_tier.n_edgesthree_tier %>
</p>

<p>
  <strong>N hoststhree tier:</strong>
  <%= @fnss_datacenter_three_tier.n_hoststhree_tier %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fnss_datacenter_three_tier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fnss_datacenter_three_tier.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fnss_datacenter_three_tier.status %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @fnss_datacenter_three_tier.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fnss_datacenter_three_tier.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @fnss_datacenter_three_tier.user %>
</p>

<%= link_to 'Edit', edit_fnss_datacenter_three_tier_path(@fnss_datacenter_three_tier) %> |
<%= link_to 'Back', fnss_datacenter_three_tiers_path %>
