<% provide(:title, 'Home') %>
<% if signed_in? %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <%= render 'shared/user_info' %>
            </section>
            <section class="experiments_form">
                <%= render 'shared/experiment_form' %>
            </section>
        </aside>
    </div>
<% else %>
    <div class ="center jumbotron">
        <h1>Welcome to MyExperiment</h1>
        <h2>
            This is the home page for <a href="">MyExperiment</a> 
        </h2>

        <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
    </div>
    <br><br><br>
    <center>
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    <%= link_to image_tag("fiulogo3.png", alt: "FIU", size: "115x87"), 'http://www.cis.fiu.edu/' %>
    <%= link_to image_tag("image2.png", alt: "Sling", size: "102x87"), 'https://github.com/netsym/primogeni' %>`
    <%= link_to image_tag("image3.png", alt: "Slingshot", size: "222x87"), 'https://github.com/netsym/primogeni' %>
    <%= link_to image_tag("geni-logo-final.gif", alt: "geni", size: "111x87"), 'http://www.geni.net/' %>
    </center>
<% end %>
