<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fnss_simple_dumbbell.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fnss_simple_dumbbell.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fnss_simple_dumbbell.status %>
</p>

<p>
  <strong>Mone nodedumbell:</strong>
  <%= @fnss_simple_dumbbell.mone_nodedumbell %>
</p>

<p>
  <strong>Mtwo nodedumbell:</strong>
  <%= @fnss_simple_dumbbell.mtwo_nodedumbell %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @fnss_simple_dumbbell.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fnss_simple_dumbbell.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @fnss_simple_dumbbell.user %>
</p>

<%= link_to 'Edit', edit_fnss_simple_dumbbell_path(@fnss_simple_dumbbell) %> |
<%= link_to 'Back', fnss_simple_dumbbells_path %>
