<p id="notice"><%= notice %></p>

<p>
  <strong>N:</strong>
  <%= @brite_as_waxman.n %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @brite_as_waxman.hs %>
</p>

<p>
  <strong>Ls:</strong>
  <%= @brite_as_waxman.ls %>
</p>

<p>
  <strong>Nodeplacement:</strong>
  <%= @brite_as_waxman.nodeplacement %>
</p>

<p>
  <strong>Growth type:</strong>
  <%= @brite_as_waxman.growth_type %>
</p>

<p>
  <strong>Alpha:</strong>
  <%= @brite_as_waxman.alpha %>
</p>

<p>
  <strong>Beta:</strong>
  <%= @brite_as_waxman.beta %>
</p>

<p>
  <strong>M:</strong>
  <%= @brite_as_waxman.m %>
</p>

<p>
  <strong>Bwdist:</strong>
  <%= @brite_as_waxman.bwdist %>
</p>

<p>
  <strong>Bwmin:</strong>
  <%= @brite_as_waxman.bwmin %>
</p>

<p>
  <strong>Bwmax:</strong>
  <%= @brite_as_waxman.bwmax %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brite_as_waxman.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brite_as_waxman.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @brite_as_waxman.status %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @brite_as_waxman.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @brite_as_waxman.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @brite_as_waxman.user %>
</p>

<%= link_to 'Edit', edit_brite_as_waxman_path(@brite_as_waxman) %> |
<%= link_to 'Back', brite_as_waxmen_path %>
