<%= form_for(@brite_td_aswaxman_rt_waxman) do |f| %>
  <% if @brite_td_aswaxman_rt_waxman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brite_td_aswaxman_rt_waxman.errors.count, "error") %> prohibited this brite_td_aswaxman_rt_waxman from being saved:</h2>

      <ul>
      <% @brite_td_aswaxman_rt_waxman.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.number_field :name %>
  </div>
  <div class="field">
    <%= f.label :edgeconn %><br>
    <%= f.number_field :edgeconn %>
  </div>
  <div class="field">
    <%= f.label :k %><br>
    <%= f.number_field :k %>
  </div>
  <div class="field">
    <%= f.label :bwinter %><br>
    <%= f.number_field :bwinter %>
  </div>
  <div class="field">
    <%= f.label :bwintermin %><br>
    <%= f.number_field :bwintermin %>
  </div>
  <div class="field">
    <%= f.label :bwintermax %><br>
    <%= f.number_field :bwintermax %>
  </div>
  <div class="field">
    <%= f.label :bwintra %><br>
    <%= f.number_field :bwintra %>
  </div>
  <div class="field">
    <%= f.label :bwintramin %><br>
    <%= f.number_field :bwintramin %>
  </div>
  <div class="field">
    <%= f.label :bwintramax %><br>
    <%= f.number_field :bwintramax %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.number_field :name %>
  </div>
  <div class="field">
    <%= f.label :n %><br>
    <%= f.number_field :n %>
  </div>
  <div class="field">
    <%= f.label :hs %><br>
    <%= f.number_field :hs %>
  </div>
  <div class="field">
    <%= f.label :ls %><br>
    <%= f.number_field :ls %>
  </div>
  <div class="field">
    <%= f.label :nodeplacement %><br>
    <%= f.number_field :nodeplacement %>
  </div>
  <div class="field">
    <%= f.label :growthtype %><br>
    <%= f.number_field :growthtype %>
  </div>
  <div class="field">
    <%= f.label :m %><br>
    <%= f.number_field :m %>
  </div>
  <div class="field">
    <%= f.label :alpha %><br>
    <%= f.text_field :alpha %>
  </div>
  <div class="field">
    <%= f.label :beta %><br>
    <%= f.text_field :beta %>
  </div>
  <div class="field">
    <%= f.label :bwdist %><br>
    <%= f.number_field :bwdist %>
  </div>
  <div class="field">
    <%= f.label :bwmin %><br>
    <%= f.number_field :bwmin %>
  </div>
  <div class="field">
    <%= f.label :bwmax %><br>
    <%= f.number_field :bwmax %>
  </div>
  <div class="field">
    <%= f.label :name_rtwaxman %><br>
    <%= f.number_field :name_rtwaxman %>
  </div>
  <div class="field">
    <%= f.label :n_waxman %><br>
    <%= f.number_field :n_waxman %>
  </div>
  <div class="field">
    <%= f.label :hs_waxman %><br>
    <%= f.number_field :hs_waxman %>
  </div>
  <div class="field">
    <%= f.label :ls_waxman %><br>
    <%= f.number_field :ls_waxman %>
  </div>
  <div class="field">
    <%= f.label :nodeplacement %><br>
    <%= f.text_field :nodeplacement %>
  </div>
  <div class="field">
    <%= f.label :growthtype_waxman %><br>
    <%= f.number_field :growthtype_waxman %>
  </div>
  <div class="field">
    <%= f.label :m_waxman %><br>
    <%= f.number_field :m_waxman %>
  </div>
  <div class="field">
    <%= f.label :alpha_waxman %><br>
    <%= f.text_field :alpha_waxman %>
  </div>
  <div class="field">
    <%= f.label :beta_waxman %><br>
    <%= f.number_field :beta_waxman %>
  </div>
  <div class="field">
    <%= f.label :bwdist_waxman %><br>
    <%= f.number_field :bwdist_waxman %>
  </div>
  <div class="field">
    <%= f.label :bwmin_waxman %><br>
    <%= f.number_field :bwmin_waxman %>
  </div>
  <div class="field">
    <%= f.label :bwmax_waxman %><br>
    <%= f.number_field :bwmax_waxman %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
