<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brite_td_aswaxman_rt_waxman.name %>
</p>

<p>
  <strong>Edgeconn:</strong>
  <%= @brite_td_aswaxman_rt_waxman.edgeconn %>
</p>

<p>
  <strong>K:</strong>
  <%= @brite_td_aswaxman_rt_waxman.k %>
</p>

<p>
  <strong>Bwinter:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwinter %>
</p>

<p>
  <strong>Bwintermin:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwintermin %>
</p>

<p>
  <strong>Bwintermax:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwintermax %>
</p>

<p>
  <strong>Bwintra:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwintra %>
</p>

<p>
  <strong>Bwintramin:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwintramin %>
</p>

<p>
  <strong>Bwintramax:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwintramax %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brite_td_aswaxman_rt_waxman.name %>
</p>

<p>
  <strong>N:</strong>
  <%= @brite_td_aswaxman_rt_waxman.n %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @brite_td_aswaxman_rt_waxman.hs %>
</p>

<p>
  <strong>Ls:</strong>
  <%= @brite_td_aswaxman_rt_waxman.ls %>
</p>

<p>
  <strong>Nodeplacement:</strong>
  <%= @brite_td_aswaxman_rt_waxman.nodeplacement %>
</p>

<p>
  <strong>Growthtype:</strong>
  <%= @brite_td_aswaxman_rt_waxman.growthtype %>
</p>

<p>
  <strong>M:</strong>
  <%= @brite_td_aswaxman_rt_waxman.m %>
</p>

<p>
  <strong>Alpha:</strong>
  <%= @brite_td_aswaxman_rt_waxman.alpha %>
</p>

<p>
  <strong>Beta:</strong>
  <%= @brite_td_aswaxman_rt_waxman.beta %>
</p>

<p>
  <strong>Bwdist:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwdist %>
</p>

<p>
  <strong>Bwmin:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwmin %>
</p>

<p>
  <strong>Bwmax:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwmax %>
</p>

<p>
  <strong>Name rtwaxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.name_rtwaxman %>
</p>

<p>
  <strong>N waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.n_waxman %>
</p>

<p>
  <strong>Hs waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.hs_waxman %>
</p>

<p>
  <strong>Ls waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.ls_waxman %>
</p>

<p>
  <strong>Nodeplacement:</strong>
  <%= @brite_td_aswaxman_rt_waxman.nodeplacement %>
</p>

<p>
  <strong>Growthtype waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.growthtype_waxman %>
</p>

<p>
  <strong>M waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.m_waxman %>
</p>

<p>
  <strong>Alpha waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.alpha_waxman %>
</p>

<p>
  <strong>Beta waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.beta_waxman %>
</p>

<p>
  <strong>Bwdist waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwdist_waxman %>
</p>

<p>
  <strong>Bwmin waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwmin_waxman %>
</p>

<p>
  <strong>Bwmax waxman:</strong>
  <%= @brite_td_aswaxman_rt_waxman.bwmax_waxman %>
</p>

<%= link_to 'Edit', edit_brite_td_aswaxman_rt_waxman_path(@brite_td_aswaxman_rt_waxman) %> |
<%= link_to 'Back', brite_td_aswaxman_rt_waxmen_path %>
