<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fnss_simple_kary_tree.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fnss_simple_kary_tree.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fnss_simple_kary_tree.status %>
</p>

<p>
  <strong>K branching factor:</strong>
  <%= @fnss_simple_kary_tree.k_branching_factor %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @fnss_simple_kary_tree.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fnss_simple_kary_tree.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @fnss_simple_kary_tree.user %>
</p>

<%= link_to 'Edit', edit_fnss_simple_kary_tree_path(@fnss_simple_kary_tree) %> |
<%= link_to 'Back', fnss_simple_kary_trees_path %>
