<%= form_for(@fnss_datacenter_bcube) do |f| %>
  <% if @fnss_datacenter_bcube.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fnss_datacenter_bcube.errors.count, "error") %> prohibited this fnss_datacenter_bcube from being saved:</h2>

      <ul>
      <% @fnss_datacenter_bcube.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :k_bcube %><br>
    <%= f.number_field :k_bcube %>
  </div>
  <div class="field">
    <%= f.label :n_bcube %><br>
    <%= f.number_field :n_bcube %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :generator_id %><br>
    <%= f.text_field :generator_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.text_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
