<p id="notice"><%= notice %></p>

<p>
  <strong>K bcube:</strong>
  <%= @fnss_datacenter_bcube.k_bcube %>
</p>

<p>
  <strong>N bcube:</strong>
  <%= @fnss_datacenter_bcube.n_bcube %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fnss_datacenter_bcube.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fnss_datacenter_bcube.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fnss_datacenter_bcube.status %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @fnss_datacenter_bcube.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fnss_datacenter_bcube.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @fnss_datacenter_bcube.user %>
</p>

<%= link_to 'Edit', edit_fnss_datacenter_bcube_path(@fnss_datacenter_bcube) %> |
<%= link_to 'Back', fnss_datacenter_bcubes_path %>
