        <%= form_for(@experiment) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
            <div class="Name">
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="Tags">
                <%= f.label :tags %>
                <%= f.text_field :tags, class: 'form-control' %>
            </div>
            <div class="Description>
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control' %>
            </div>
            <div class="Type">
                <%= f.radio_button :topoType, "Linear" %>
                <%= label :type_label, 'Linear' %>

                <%= f.radio_button :topoType, "Dumbbell" %>
                <%= label :type_label, 'Dumbbell' %>

                <%= f.radio_button :topoType, "Star" %>
                <%= label :type_label, 'Star' %>

                <%= f.radio_button :topoType, "Ring" %>
                <%= label :type_label, 'Ring' %>
            </div>
            <div class="Nodes">
                <%= f.label :nodes %>
                <%= f.number_field :nodes %>
            </div>
            <%= f.submit "Create", class: "btn btn-large btn-primary" %>
        <% end %>
