<h1>Listing fnss_simple_lines</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Line node</th>
      <th>Generator</th>
      <th>Type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fnss_simple_lines.each do |fnss_simple_line| %>
      <tr>
        <td><%= fnss_simple_line.name %></td>
        <td><%= fnss_simple_line.description %></td>
        <td><%= fnss_simple_line.status %></td>
        <td><%= fnss_simple_line.line_node %></td>
        <td><%= fnss_simple_line.generator %></td>
        <td><%= fnss_simple_line.type %></td>
        <td><%= fnss_simple_line.user %></td>
        <td><%= link_to 'Show', fnss_simple_line %></td>
        <td><%= link_to 'Edit', edit_fnss_simple_line_path(fnss_simple_line) %></td>
        <td><%= link_to 'Destroy', fnss_simple_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fnss simple line', new_fnss_simple_line_path %>
