<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fnss_datacenter_two_tier.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fnss_datacenter_two_tier.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fnss_datacenter_two_tier.status %>
</p>

<p>
  <strong>N coretwo tier:</strong>
  <%= @fnss_datacenter_two_tier.n_coretwo_tier %>
</p>

<p>
  <strong>N edgetwo tier:</strong>
  <%= @fnss_datacenter_two_tier.n_edgetwo_tier %>
</p>

<p>
  <strong>H hoststwo tier:</strong>
  <%= @fnss_datacenter_two_tier.h_hoststwo_tier %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @fnss_datacenter_two_tier.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fnss_datacenter_two_tier.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @fnss_datacenter_two_tier.user %>
</p>

<%= link_to 'Edit', edit_fnss_datacenter_two_tier_path(@fnss_datacenter_two_tier) %> |
<%= link_to 'Back', fnss_datacenter_two_tiers_path %>
