<p id="notice"><%= notice %></p>

<p>
  <strong>N:</strong>
  <%= @brite_as_barabasis.n %>
</p>

<p>
  <strong>Hs:</strong>
  <%= @brite_as_barabasis.hs %>
</p>

<p>
  <strong>Ls:</strong>
  <%= @brite_as_barabasis.ls %>
</p>

<p>
  <strong>Nodeplacement:</strong>
  <%= @brite_as_barabasis.nodeplacement %>
</p>

<p>
  <strong>M:</strong>
  <%= @brite_as_barabasis.m %>
</p>

<p>
  <strong>Bwdist:</strong>
  <%= @brite_as_barabasis.bwdist %>
</p>

<p>
  <strong>Bwmin:</strong>
  <%= @brite_as_barabasis.bwmin %>
</p>

<p>
  <strong>Bwmax:</strong>
  <%= @brite_as_barabasis.bwmax %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brite_as_barabasis.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brite_as_barabasis.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @brite_as_barabasis.status %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @brite_as_barabasis.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @brite_as_barabasis.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @brite_as_barabasis.user %>
</p>

<%= link_to 'Edit', edit_brite_as_barabasis_path(@brite_as_barabasis) %> |
<%= link_to 'Back', brite_as_barabasis_path %>
