<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.name %>
</p>

<p>
  <strong>Edgeconn:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.edgeconn %>
</p>

<p>
  <strong>K:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.k %>
</p>

<p>
  <strong>Bwinter:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.bwinter %>
</p>

<p>
  <strong>Bwintermin:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.bwintermin %>
</p>

<p>
  <strong>Bwintermax:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.bwintermax %>
</p>

<p>
  <strong>Bwintra:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.bwintra %>
</p>

<p>
  <strong>Bwintramin:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.bwintramin %>
</p>

<p>
  <strong>Bwintramax:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.bwintramax %>
</p>

<p>
  <strong>Name:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.status %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @brite_td_asbarabasi_rt_waxman.user %>
</p>

<%= link_to 'Edit', edit_brite_td_asbarabasi_rt_waxman_path(@brite_td_asbarabasi_rt_waxman) %> |
<%= link_to 'Back', brite_td_asbarabasi_rt_waxmen_path %>
