<%= form_for(@generator_form) do |f| %>
  <% if @generator_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generator_form.errors.count, "error") %> prohibited this generator_form from being saved:</h2>

      <ul>
      <% @generator_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status,options_for_select([["Public",1],["Private",0]])) %>
  </div>

  <%= f.hidden_field :generator_id, :value => params[:generator] %>
  <%= f.hidden_field :type_id, :value => params[:type] %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  
<div class="field">

<%=fields_for :fnss_simple_types_kary do |b| %>

<%= label_tag 'k' %><br>
<%= b.text_field :k_branching_factor %>

<%= label_tag 'h' %><br>
<%= b.text_field :h_height_of_tree %>


<% end %>


  </div >




















  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
