<h1>New Model</h1>

<%if @type=="5"%>
	<%= render 'kary' %>
<%elsif @type=="6"%>
	<%= render 'dumbbell' %>
<%elsif @type=="7"%>
	<%= render 'twotier' %>
<%elsif @type=="8"%>
	<%= render 'threetier' %>
<%elsif @type=="9"%>
	<%= render 'bcube' %>
<%elsif @type=="10"%>
	<%= render 'fattree' %>
<%elsif @type=="11"%>
	<%= render 'brite_as_barabasi' %>
<%elsif @type=="12"%>
	<%= render 'brite_as_waxman' %>
<%elsif @type=="13"%>
	<%= render 'brite_as_rtbarabasi' %>
<%elsif @type=="14"%>
	<%= render 'brite_as_rtwaxman' %>
<%elsif @type=="15"%>
	<%= render 'td_as_barabasi_rtaxman' %>
<%elsif @type=="16"%>
	<%= render 'td_as_waxman_rtwaxman' %>
<%elsif @type=="17"%>
	<%= render 'xml' %>
<%else%>
	<%= render 'form' %>
<%end%>

<%= link_to 'Back', generators_path, class: "btn btn-default" %>
