<h1>Listing create_fnss_simple_rings</h1>

<table>
  <thead>
    <tr>
      <th>N</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @create_fnss_simple_rings.each do |create_fnss_simple_ring| %>
      <tr>
        <td><%= create_fnss_simple_ring.n %></td>
        <td><%= link_to 'Show', create_fnss_simple_ring %></td>
        <td><%= link_to 'Edit', edit_create_fnss_simple_ring_path(create_fnss_simple_ring) %></td>
        <td><%= link_to 'Destroy', create_fnss_simple_ring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Create fnss simple ring', new_create_fnss_simple_ring_path %>
