<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fnss_simple_full_mesh.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fnss_simple_full_mesh.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fnss_simple_full_mesh.status %>
</p>

<p>
  <strong>Full mesh node:</strong>
  <%= @fnss_simple_full_mesh.full_mesh_node %>
</p>

<p>
  <strong>Generator:</strong>
  <%= @fnss_simple_full_mesh.generator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @fnss_simple_full_mesh.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @fnss_simple_full_mesh.user %>
</p>

<%= link_to 'Edit', edit_fnss_simple_full_mesh_path(@fnss_simple_full_mesh) %> |
<%= link_to 'Back', fnss_simple_full_meshes_path %>
