<h1>Listing fnss_datacenter_fattrees</h1>

<table>
  <thead>
    <tr>
      <th>K fattree</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Generator</th>
      <th>Type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fnss_datacenter_fattrees.each do |fnss_datacenter_fattree| %>
      <tr>
        <td><%= fnss_datacenter_fattree.k_fattree %></td>
        <td><%= fnss_datacenter_fattree.name %></td>
        <td><%= fnss_datacenter_fattree.description %></td>
        <td><%= fnss_datacenter_fattree.status %></td>
        <td><%= fnss_datacenter_fattree.generator %></td>
        <td><%= fnss_datacenter_fattree.type %></td>
        <td><%= fnss_datacenter_fattree.user %></td>
        <td><%= link_to 'Show', fnss_datacenter_fattree %></td>
        <td><%= link_to 'Edit', edit_fnss_datacenter_fattree_path(fnss_datacenter_fattree) %></td>
        <td><%= link_to 'Destroy', fnss_datacenter_fattree, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fnss datacenter fattree', new_fnss_datacenter_fattree_path %>
